<!DOCTYPE html>
<html {% block html_extra %}{% endblock %}>
  <head>
    <title>
    {% block title %}
    {% endblock %} - Template
    </title>
    {% block css %}
    {% endblock %}
    {% block js_preload %}
    {% endblock %}
    {% block head_extra %}
    {% endblock %}
  </head>
  <body {% block body_extra %}{% endblock %} >
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>
