/* Focused windows */
.overlay_mac_os_x_leopard_leopard {
	background-color: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.mac_os_x_leopard_nw {
	background: transparent url(mac_os_x_leopard/TL_Main.png) no-repeat 0 0;			
  width:24px;
  height:30px;
}

.mac_os_x_leopard_n {
  background: transparent url(mac_os_x_leopard/T_Main.png) repeat-x 0 0;			
  height:30px;
}

.mac_os_x_leopard_ne {
  background: transparent url(mac_os_x_leopard/TR_Main.png) no-repeat 0 0;			
  width:31px;	  
  height:30px;
}

.mac_os_x_leopard_w {
  background: transparent url(mac_os_x_leopard/L_Main.png) repeat-y top left;			
  width:16px;
}

.mac_os_x_leopard_e {
  background: transparent url(mac_os_x_leopard/R_Main.png) repeat-y top right;			
  width:16px;	  
}

.mac_os_x_leopard_sw {
  background: transparent url(mac_os_x_leopard/BL_Main.png) no-repeat 0 0;			
  width:31px;
  height:40px;
}

.mac_os_x_leopard_s {
  background: transparent url(mac_os_x_leopard/B_Main.png) repeat-x 0 0;			
  height:40px;
}

.mac_os_x_leopard_se, .mac_os_x_leopard_sizer {
  background: transparent url(mac_os_x_leopard/BR_Main.png) no-repeat 0 0;			
  width:31px;
  height:40px;
}

.mac_os_x_leopard_sizer {
	cursor:se-resize;	
}

.mac_os_x_leopard_close {
	width: 19px;
	height: 19px;
	background: transparent url(mac_os_x_leopard/close.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:25px;
	cursor:pointer;
	z-index:1000;
}

.mac_os_x_leopard_minimize {
	width: 19px;
	height: 19px;
	background: transparent url(mac_os_x_leopard/minimize.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:45px;
	cursor:pointer;
	z-index:1000;
}

.mac_os_x_leopard_maximize {
	width: 19px;
	height: 19px;
	background: transparent url(mac_os_x_leopard/maximize.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:65px;
	cursor:pointer;
	z-index:1000;
}

.mac_os_x_leopard_title {
	float:left;
	height:14px;
	font-family: Droid Sans;
	font-size:12px;
	text-align:center;
	margin-top:6px;
	width:100%;
	color:#000;
}

.mac_os_x_leopard_content {
	overflow:auto;
	color: #222;
	font-family: Droid Sans;
	font-size: 14px;
	background:#FFF;
}
.mac_os_x_leopard_s .status_bar {
  padding-bottom:24px;
}

/* FOR IE */
* html .mac_os_x_leopard_nw {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/TL_Main.png", sizingMethod="crop");
}

* html .mac_os_x_leopard_n {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/T_Main.png", sizingMethod="scale");
}

* html .mac_os_x_leopard_ne {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/TR_Main.png", sizingMethod="crop");
}

* html .mac_os_x_leopard_w {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/L_Main.png", sizingMethod="scale");
}

* html .mac_os_x_leopard_e {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/R_Main.png", sizingMethod="scale");
}

* html .mac_os_x_leopard_sw {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/BL_Main.png", sizingMethod="crop");
}

* html .mac_os_x_leopard_s {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/B_Main.png", sizingMethod="scale");
}

* html .mac_os_x_leopard_se {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/BR_Main.png", sizingMethod="crop");
}

* html .mac_os_x_leopard_sizer {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/BR_Main.png", sizingMethod="crop");
}


/* Focused windows */
.overlay_blur_os_x_leopard {
	background-color: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.blur_os_x_leopard_nw {
	background: transparent url(mac_os_x_leopard/TL.png) no-repeat 0 0;			
  width:24px;
  height:30px;
}

.blur_os_x_leopard_n {
  background: transparent url(mac_os_x_leopard/T.png) repeat-x 0 0;			
  height:30px;
}

.blur_os_x_leopard_ne {
  background: transparent url(mac_os_x_leopard/TR.png) no-repeat 0 0;			
  width:31px;	  
  height:30px;
}

.blur_os_x_leopard_w {
  background: transparent url(mac_os_x_leopard/L.png) repeat-y top left;			
  width:16px;
}

.blur_os_x_leopard_e {
  background: transparent url(mac_os_x_leopard/R.png) repeat-y top right;			
  width:16px;	  
}

.blur_os_x_leopard_sw {
  background: transparent url(mac_os_x_leopard/BL.png) no-repeat 0 0;			
  width:31px;
  height:40px;
}

.blur_os_x_leopard_s {
  background: transparent url(mac_os_x_leopard/B.png) repeat-x 0 0;			
  height:40px;
}

.blur_os_x_leopard_se, .blur_os_x_leopard_sizer {
  background: transparent url(mac_os_x_leopard/BR.png) no-repeat 0 0;			
  width:31px;
  height:40px;
}

.blur_os_x_leopard_sizer {
	cursor:se-resize;	
}

.blur_os_x_leopard_close {
	width: 19px;
	height: 19px;
	background: transparent url(mac_os_x_leopard/close.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:25px;
	cursor:pointer;
	z-index:1000;
}

.blur_os_x_leopard_minimize {
	width: 19px;
	height: 19px;
	background: transparent url(mac_os_x_leopard/minimize.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:45px;
	cursor:pointer;
	z-index:1000;
}

.blur_os_x_leopard_maximize {
	width: 19px;
	height: 19px;
	background: transparent url(mac_os_x_leopard/maximize.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:65px;
	cursor:pointer;
	z-index:1000;
}

.blur_os_x_leopard_title {
	float:left;
	height:14px;
	font-family: Droid Sans;
	font-size:12px;
	text-align:center;
	margin-top:6px;
	width:100%;
	color:#000;
}

.blur_os_x_leopard_content {
	overflow:auto;
	color: #222;
	font-family: Droid Sans;
	font-size: 14px;
	background:#FFF;
}
.blur_os_x_leopard_s .status_bar {
  padding-bottom:24px;
}

/* FOR IE */
* html .blur_os_x_leopard_nw {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/TL.png", sizingMethod="crop");
}

* html .blur_os_x_leopard_n {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/T.png", sizingMethod="scale");
}

* html .blur_os_x_leopard_ne {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/TR.png", sizingMethod="crop");
}

* html .blur_os_x_leopard_w {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/L.png", sizingMethod="scale");
}

* html .blur_os_x_leopard_e {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/R.png", sizingMethod="scale");
}

* html .blur_os_x_leopard_sw {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/BL.png", sizingMethod="crop");
}

* html .blur_os_x_leopard_s {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/B.png", sizingMethod="scale");
}

* html .blur_os_x_leopard_se {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/BR.png", sizingMethod="crop");
}

* html .blur_os_x_leopard_sizer {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x_leopard/BR.png", sizingMethod="crop");
}

